<div class="select_sec" ng-controller = "PageController" >
  <div class="container">
      <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      <div class="select_inr">
        <div class="select_item" ng-class="{select_three: vm.country != 'United States' && vm.country != 'Canada' && vm.country != 'Country'}">
          <div class="select_area">
              <select name="number" class="block" ng-model="vm.country" ng-options="x for x in countries" ng-change="changeStateListInCtrl(vm.country);vm.state = states[0];vm.region = regions[0];" ng-init = "changeStateListInCtrl(vm.country);">
              </select>
            </div>
          <div class="select_area" ng-show ="vm.country == 'United States' || vm.country == 'Canada' || vm.country == 'Country'">
              <select name="number" class="block" ng-model="vm.state" ng-options="x for x in states" ng-change="changeListInCtrl(vm.state);" ng-init = "changeListInCtrl(vm.state)">
              </select>
            </div>
            <div class="select_area">
              <select name="number" id="region" class="block" ng-model="vm.region" ng-options="x for x in regions" ng-init="vm.region = vm.region || 'Region'">
              </select>
            </div>
            <div class="select_area">
              <select name="number" id="category" class="block" ng-model="vm.category" ng-options="x for x in categories">
              </select>
            </div>
            <div class="select_sbt">
               <input type="submit" placeholder="Submit" ng-click ="vm.search()">
            </div>
            <div ng-show = "vm.savedPreference == true" class="loc_block">
              <a href="" ng-click="vm.unlockPreference()"><i class="fa fa-lock"></i></a>
            </div>
            <div ng-hide = "vm.savedPreference == true" class="unloc_block">
              <a href="" ng-click="vm.lockPreference()"><i class="fa fa-unlock"></i></a>
            </div>
        </div>
        <div class="add_post post_bk pages_button" ng-if="windowWidth > 991 && isLoggedIn">
            <input type="submit" value="LOG-OUT" ng-click="vm.logout()" style="background: #42a2e8; border: #f80101;">
        </div>
        <div class="add_post post_bk login_signup pages_button" ng-if="windowWidth > 991 && !isLoggedIn">
          <input type="submit" value="LOG-IN/SIGN-UP" ng-click="vm.login()" style="background: #42a2e8; border: #f80101;">
        </div>
        <div class="add_post post_bk pages_button" ng-if="windowWidth > 991">
          <input type="submit" value="PAGES" ng-click="vm.pages()" style="background: #f80101; border: #f80101;">
        </div>

        <div class="add_post post_bk">
          <input type="submit" value="Post an AD" ng-click="vm.post()">
        </div>
        <div class="add_post post_bk pages_button" ng-if="windowWidth < 991">
          <input type="submit" value="PAGES" ng-click="vm.pages()" style="background: #f80101; border: #f80101;">
        </div>
        <div class="add_post post_bk login_signup pages_button" ng-if="windowWidth < 991 && !isLoggedIn">
          <input type="submit" value="LOG-IN/SIGN-UP" ng-click="vm.login()" style="background: #42a2e8; border: #f80101;">
        </div>
        <div class="add_post post_bk pages_button" ng-if="windowWidth < 991 && isLoggedIn">
            <input type="submit" value="LOG-OUT" ng-click="vm.logout()" style="background: #42a2e8; border: #f80101;">
        </div>
      </div>
  </div>
</div>

<section class="" ng-controller="PageController" ng-init = "initController();">
  <div class="container" ng-controller="AdsController">
      <div>
        <p style="margin-bottom: 40px;"><a href="pages">Pages</a> > <strong>{{ pageData.title }}</strong></p>

        <!-- Container -->
        <div>
          <!-- Cover Photo -->
          <a href="{{pageData.coverPic}}" target="_blank"><div style="width: 100%;
    height: 180px;
    background: url('{{pageData.coverPic}}') no-repeat center center fixed, linear-gradient(90deg, rgba(233,6,6,1) 0%, rgba(0,0,0,1) 100%);
    background-size: contain;"></div></a>

          <!-- Profile Photo -->
          <div style="width: 130px;
    height: 130px;
    margin-left: 5px;
    margin-top: -80px;
    background: #a2a2a2 url('{{pageData.profilePic}}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;"></div>

          <!-- Title -->
          <div style="margin-left: 150px;
    margin-top: -43px;
    font-size: 30px;
    font-weight: bold;">{{ pageData.title }}</div>
    <!-- <h5 ng-if="pageData.status === 'flagged'">(This page has been flagged)</h5> -->

          <!--  -->
          <div class="gallery_det" style="margin-left: 6px; margin-top: 15px;">
            <a href="" ng-click="messageModal()">Message</a>
            <a href="" style="margin-left: 5px;" ng-click="reportPage();">Report</a>
            <a href="" style="margin-left: 5px;" ng-click="toggleShareButton();">Share</a>
            <div class="likeDislike" style="margin-left: 5px;" ng-click="likePage(pageData._id);"><img src="/app-content/images/like.png"> Like | {{pageData.like}}</div>
            <div class="likeDislike" ng-click="dislikePage(pageData._id);"><img src="/app-content/images/dislike.png"> | {{pageData.dislike}}</div>

            <div ng-show="showShareButtons == true">
              <a href="" class="fa fa-twitter"
                  socialshare
                  socialshare-provider="twitter"
                  socialshare-text="{{title}}"
                  socialshare-hashtags="healthyflingpost"
                  socialshare-url="{{currentPath}}">
                </a>
                <a href="" class="fa fa-facebook"
                socialshare
                socialshare-provider="facebook"
                socialshare-text="{{title}}"
                socialshare-hashtags="healthyflingpost"
                socialshare-url="{{currentPath}}">
              </a>
              <a href="" class="fa fa-linkedin"
              socialshare
              socialshare-provider="linkedin"
              socialshare-text="{{title}}"
              socialshare-description="{{message}}"
              socialshare-source="healthyflingpost"
              socialshare-url="{{currentPath}}">
            </a>
            <a href="" class="fa fa-reddit"
            socialshare
            socialshare-provider="reddit"
            socialshare-text="{{title}}"
            socialshare-url="{{currentPath}}">
          </a>
          <a href="" class="fa fa-google"
          socialshare
          socialshare-provider="google"
          socialshare-url="{{currentPath}}">
        </a>
        <a href="" class="fa fa-pinterest"
        socialshare
        socialshare-provider="pinterest"
        socialshare-text="{{title}}"
        socialshare-url="{{currentPath}}">
      </a>
      <a href="" class="fa fa-tumblr"
      socialshare
      socialshare-provider="tumblr"
      socialshare-text="{{title}}"
      socialshare-url="{{currentPath}}">
    </a>
    <a href="" class="fa fa-xing"
    socialshare
    socialshare-provider="xing"
    socialshare-text="{{title}}"
    socialshare-url="{{currentPath}}">
    </a>
    <a href="mailto:?Subject={{title}}&body={{currentPath}}" class="fa fa-envelope"
    socialshare
    socialshare-provider="email"
    socialshare-subject="{{title}}"
    socialshare-body="{{currentPath}}">
    </a>
    <a href="" class="fa fa-whatsapp"
    socialshare
    socialshare-provider="whatsapp"
    socialshare-text="{{title}}"
    socialshare-url="{{currentPath}}">
    </a>
            </div>
          </div>

          <!-- Description -->
          <div style="color: #c3c3c3;
    margin-left: 5px;
    margin-top: 5px;">{{ pageData.description }}</div>

          <!-- Details -->
          <div class="page-details">
            <div style="margin-right: 20px;" ng-if="pageData.location"><img src="/app-content/images/mapPin.png" style="width: 20px; margin-right: 10px;">{{pageData.location}}</div>
            <div style="margin-right: 20px;" ng-if="pageData.website"><img src="/app-content/images/chain.png" style="width: 20px; margin-right: 10px;"><a href="{{pageData.website}}" target="_blank">{{pageData.website}}</a></div>
            <div><img src="/app-content/images/calendar.png" style="width: 20px; margin-right: 10px;">Joined <time>{{pageData.created | amDateFormat:'MMMM YYYY'}}</time></div>
          </div>
        </div>

        <!-- <p style="font-size: 22px; font-weight: bold; margin-bottom: 10px;"></p>
        <p style="color: #c3c3c3">{{ pageData.description }}</p> -->
        <button ng-if="pageData.subscribers.length < 999" type="button" ng-click="subscribe()" style="    margin-top: 20px;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    background: #b97a57;">Subscribe {{ pageData.subscribers.length }}</button>
        <button ng-if="pageData.subscribers.length > 999" type="button" ng-click="subscribe()" style="    margin-top: 20px;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
    font-weight: bold;
    color: #fff;
    background: #b97a57;">Subscribe {{ pageData.subscribers.length/1000 }}K</button>
      </div>
      <p ng-if="isLoggedIn"><a href="post?page={{pageData['_id']}}&editPage=true" style="color: #000; font-weight: bold;">Edit this page</a> | <a href="post?page" style="color: #000; font-weight: bold;">Add a post to this page</a></p>
      <div class="page_hdr"></div>
      <div style="margin-top: -20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 15px;">
          <a href="{{pageData['url']}}" style="color: red">All</a>
          <a href="{{pageData['url']}}/media" style="color: black; margin-left: 10px;">Media</a>
      </div>
      <div class="add_cnt">
        <div ng-show="postData">
            <ul style="padding-top: 0px;">

                <li ng-repeat="item in postData | startFrom: vm.currentPage * vm.pageSize | limitTo: vm.pageSize | filter: searchText" class="clearfix" style="display: block;">
                    <div>
                        <p>
                          <a href="{{pageData['url']}}" ng-if="pageData.profilePic">
                            <img src="{{pageData.profilePic}}" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;">
                            <span>{{pageData.title}}</span>
                          </a>
                          <a href="{{pageData['url']}}" ng-if="!pageData.profilePic">
                            <img style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px; background: red; border: 15px solid red;"></img><span>{{pageData.title}}</span>
                          </a>
                          <img src="/app-content/images/comments.png" style="width: 17px; margin-left: 15px;">
                          <span style="font-style: normal; color: #b5b5b5;">{{item.comments.length}}</span>
                          <i style="margin-left: 15px;" ng-if="diffDate(item.created) > 7"><time>{{item.created | amDateFormat:'MMMM DD, YYYY'}}</time></i>
                          <i style="margin-left: 15px;" ng-if="diffDate(item.created) <= 7"><time am-time-ago="item.created"></time></i>
                        <p>
                    </div>

                    <h4 style="margin: 12px; margin-bottom: 0; margin-left: 6px; font-weight: bold;"><a style="color: #000;" href="page/{{pageData['url']}}/post/{{item['_id']}}" >{{item.title}}</a></h4>

                    <a style="display: flex; margin-top: 12px; width: 380px;" ng-show="item.files[0].secure_url" href="page/{{pageData['url']}}/post/{{item['_id']}}">
                        <img ng-show="item.files[0].secure_url" style="width: 250px; float: left; margin-left: 5px;" src="{{item.files[0].secure_url}}" alt="" />
                        <div style="align-self: flex-end; margin-left: 5px;"><img ng-show="item.files[1].secure_url" style="width: 120px; height: 120px; filter: brightness(50%); -webkit-filter: brightness(50%);" src="{{item.files[1].secure_url}}" alt="" /><span style="margin-left: -76px; position: absolute; left: auto; margin-top: 41px; color: #fff; font-size: 30px;" ng-if="item.files.length - 1 > 0">+{{item.files.length - 1}}</span></div>
                    </a>

                    <div class="linkBlock" ng-show="!item.files[0].secure_url && item.sharedLink">
                        <a href="{{item.sharedData.url}}" target="_blank" class="mobileMaxWidth">
                            <img ng-show="item.sharedData.image" src="{{item.sharedData.image}}" alt="" />
                            <div class="mobileMaxWidth grayBg">
                                <p class="linkURL">{{item.sharedData.domain}}</p>
                                <p class="linkTitle">{{item.sharedData.title}}</p>
                            </div>
                        </a>
                    </div>
                    <hr>
                </li>
            </ul>
        </div>
         <div ng-hide="postData">
            <h3 style="margin-bottom: 30px;">No record found!</h3>
        </div>
      </div>
      <div ng-show = "windowWidth >= 752">
        <!-- JuicyAds v3.0 -->
        <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
        <ins id="820410" data-width="728" data-height="102"></ins>
        <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':820410});</script>
        <!--JuicyAds END-->
      </div>
      <div ng-show = "windowWidth < 752">
         <!-- JuicyAds v3.0 -->
         <script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
         <ins id="820411" data-width="300" data-height="62"></ins>
         <script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':820411});</script>
        <!--JuicyAds END-->
      </div>
  </div>
</section>
